@model User;
<h2>New User Registration</h2>
<form asp-action="Create" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="FirstName" class="control-label"></label>
		<input asp-for="FirstName" class="form-control" />
		<span asp-validation-for="FirstName" class=" text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="LastName" class="control-label"></label>
		<input asp-for="LastName" class="form-control" />
		<span asp-validation-for="LastName" class=" text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Email" class="control-label"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class=" text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Password" class="control-label"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class=" text-danger"></span>
	</div>
	
	<div>
		<label asp-for="DrinkId">Go-To Drink</label>
		<select asp-for="DrinkId" asp-items="ViewBag.Drinks" class="form-control">
			<option value="">Select a Drink</option>
		</select>

	</div>
	<div>
		<label asp-for="MemberShipId">Membership</label>
		<select asp-for="MemberShipId" asp-items="ViewBag.MemberShips" class="form-control">
			<option value="">Select a Membership</option>
		</select>
	</div>
	<div>
		<label asp-for = "IsReferred"></label>
		<input asp-for = "IsReferred" type="radio" value ="true"/>Yes
		<input asp-for ="IsReferred" type="radio" value ="false" />No
	</div>

	<div>
		<label asp-for="IsDigital"></label>
		<input asp-for="IsDigital" type="checkbox"/>
	</div>
	
	<button type ="submit" class="btn btn-primary">Register</button>
</form>